<%- include("partials/header"); -%>
<h1>Compose</h1>
<form class="" action="/compose" method="post">
<div class="">
  <p>Title</p>
  <div class="">
    <input type="text" size="97" name="postTitle" value="">
  </div>
</div>
<div class="">
  <div class="">
    <p>Post</p>
  </div>
  <div class="">

      <textarea name="postBody" rows="8" cols="100"></textarea>

  </div>
  <div class="">
    <button type="submit button" class="btn btn-primary" >Publish</button>

  </div>
</div>
  </form>

<%- include("partials/footer"); -%>
